import /init.bluetooth.rc
import /init.superuser.rc

on early-init
    write /proc/sys/kernel/ctrl-alt-del 1

    write /sys/module/xt_qtaguid/parameters/ctrl_write_limited N

    export force_s3tc_enable true
    export EGL_LOG_LEVEL info
#   export EGL_DRIVERS egl_dri2

on init
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    # Backward compatibility
    symlink system/lib /lib

    exec -- /system/bin/logwrapper /system/bin/sh /system/etc/init.sh

on fs
    mount_all /fstab.${ro.hardware}

on post-fs-data
    sysclktz 1

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/system 0775 system system

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on early-boot
    readprops /x86.prop

on boot
    setprop ro.radio.use-ppp yes
    setprop ro.radio.noril no
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

    # merge from system.prop
    setprop ro.config.sync yes
    setprop app.setupwizard.disable 0
    setprop ro.alarm.volume.adjustable true
    setprop ro.simulated.phone false
    # disable red frame boarder in eng build
    setprop persist.sys.strictmode.visual 0
    setprop persist.sys.strictmode.disable 1
    # workaround for h.265 slowness
    setprop sys.media.vdec.drop 0

service wpa_supplicant /system/bin/wpa_supplicant -c/data/misc/wifi/wpa_supplicant.conf \
    -iwlan0 -Dnl80211 \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service nativebridge /system/bin/enable_nativebridge
    class main
    disabled
    oneshot

service powerbtnd /system/bin/powerbtnd
    class late_start

service logcat /system/bin/logcat -v threadtime -f /data/log.txt
    class debug

service wacom-input /system/bin/wacom-input
    disabled
    oneshot

service tablet-mode /system/bin/tablet-mode
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:system_init.startsurfaceflinger=0
    # disable cursor blinking
    write /dev/tty0 "[?17;0;0c"
    start surfaceflinger
    stop console

on property:sys.boot_completed=1
    write /proc/sys/kernel/ctrl-alt-del 0
    exec -- /system/bin/logwrapper /system/bin/sh /system/etc/init.sh bootcomplete

on property:init.svc.bluetoothd=running
    exec -- /system/bin/logwrapper /system/bin/sh /system/etc/init.sh hci

on property:init.svc.bluetoothd=stopped
    exec -- /system/bin/logwrapper /system/bin/sh /system/etc/init.sh hci

on property:net.dns1=*
    exec -- /system/bin/logwrapper /system/bin/sh /system/etc/init.sh netconsole

on property:debug.logcat=1
    class_start debug

on property:persist.sys.nativebridge=1
    start nativebridge

on property:persist.sys.nativebridge=0
    stop nativebridge

on property:debug.egl.hw=0
    setprop ro.kernel.qemu 1
